.nav-link-custom {
  color: #007bff !important; /* Bootstrap blue color */
  font-weight: bold;
  border-radius: 10px;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
}

.nav-link-custom i {
  color: #007bff; /* Icon color matching link */
  
}

.nav-link-custom:hover {
  background-color: #ecf8ff !important; /* Light blue background on hover */
  color: #ffffff !important; /* Darker blue text on hover */
}

.nav-link-custom i:hover {
  color: #ffffff ; /* Darker blue icon color on hover */
}

.bgg-white{
  background-color: rgb(197, 225, 238) !important;
  opacity: 0.9;
}